{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'assets/icons/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'estilos/comuns.css' %}">
        <link rel="stylesheet" href="{% static 'estilos/home.css' %}">
        <title>IF Cuida - Início</title>
    </head>
    <body>
        <header class="home_titulo_container">
            <div class="header_poligono">
                <h1 class="home_logo">
                    <span class="if_logo1">IF</span>
                    <span class="if_logo2">Cuida</span>
                </h1>
            </div>
        </header>
        <section class="home_perfil_info">
            <img class="home_perfil_pic" height="31.25vh" src="{% static 'assets/temp/default-profile-picture.png' %}" alt="Foto de perfil">
            <section class="home_perfil_controle">
                <section class="home_perfil_dados">
                    <span>Usuário: {{nome}}</span>
                    <span>Matrícula: {{matricula}}</span>
                </section>
                <a class="home_botao_logout" href="{% url 'logout' %}">
                    <img class="home_icon_logout" height="70%" src="{% static 'assets/icons/logout_icon.png' %}" alt="Ícone de Logout">
                </a>
            </section>
        </section>
        <nav class="home_navegacao_container">
            <a href="{% url 'informacoes-saude' %}" class="home_link_navegacao link_info_saude">
                <img class="home_link_icon icon_info_saude" height="50%" src="{% static 'assets/icons/info_saude_icon.png' %}" alt="Ícone de Informações de saúde">
                <span class="pag_nav_legenda">Informações de Saúde</span>
            </a>
            <a href="{% url 'vacinas' %}" class="home_link_navegacao link_vacina">
                <img class="home_link_icon icon_vacina" height="50%" src="{% static 'assets/icons/vacina_icon.png' %}" alt="Ícone de Vacinas">
                <span class="pag_nav_legenda">Vacinas</span>
            </a>
        </nav>
    </body>
</html>