{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'assets/icons/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'estilos/comuns.css' %}">
        <link rel="stylesheet" href="{% static 'estilos/cabecalho-navegacao.css' %}">
        <link rel="stylesheet" href="{% static 'estilos/menu.css' %}">
        <link rel="stylesheet" href="{% static 'estilos/mensagem-resultado.css' %}">
        <link rel="stylesheet" href="{% static 'estilos/aluno/tabela-vacinas-adicionadas.css' %}">
        <link rel="stylesheet" href="{% static 'estilos/aluno/adicionar-vacina.css' %}">
        <title>IF Cuida - Vacinas</title>
    </head>
    <body>
        {% include 'header-navegacao.html' %}
        {% include 'mensagem-resultado.html' %}

        <section class="conteudo container_vacinas">
            <section class="titulo_conteudo">
                <h1 class="titulo_vacinas">Vacinas</h1>
                <button class="adicionar_vacina" type="button">Adicionar vacina</button>
            </section>
            <section class="container_vacinas_adicionadas">
                <table class="tabela_vacinas_adicionadas">
                    <tr class="row_vacinas_adicionadas">
                        <th class="celula_header_vacinas_adcionadas">Vacina</th>
                        <th class="celula_header_vacinas_adcionadas">Data de registro</th>
                        <th class="celula_header_vacinas_adcionadas">Estado</th>
                    </tr>
                    {% for vacina in vacinasAdicionadas %}
                        <tr class="row_vacinas_adicionadas">
                            <td class="celula_dados_vacinas_adcionadas">{{vacina.vacina_fk.nome}}</td>
                            <td class="celula_dados_vacinas_adcionadas">{{vacina.data}}</td>
                            <td class="celula_dados_vacinas_adcionadas">{{vacina.estado | capfirst}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </section>
        </section>

        <section class="modal adicionar_vacina_modal">
            <section class="adicionar_vacina_container">
                <h1 class="titulo_conteudo titulo_adicionar_vacina">Adicionar vacina</h1>
                <form action="{% url 'vacinas' %}" method="post" enctype="multipart/form-data" class="adicionar_vacina_form">
                    {% csrf_token %}
                    <label for="nome_vacina_select" class="nome_vacina_label">1- Nome da vacina:</label>
                    <select name="nome_vacina" class="nome_vacina_select" required>
                        {% for vacina in vacinasPossiveis %}
                            <option class="opcao_nome_vacina" value="{{vacina.pk}}">{{vacina.nome}}</option>
                        {% endfor %}
                    </select>
                    <label for="data_aplicacao_vacina_input" class="data_aplicacao_vacina_label">2- Data de aplicação</label>
                    <input type="date" name="data_aplicacao" class="data_aplicacao_vacina_input" placeholder="DD/MM/AAAA" required>
                    <label for="foto_comprovante_vacina" class="comprovante_vacina_label">
                        <div class="comprovante_vacina_container">
                            <img class="icon_comprovante_vacina" src="{% static 'assets/icons/comprovante_icon.png' %}" alt="Ícone de Adicionar comprovante">
                        </div>
                        <span class="legenda_foto_comprovante_vacina">Adicione a foto do comprovante</span>
                        <input type="file" name="foto_comprovante" class="foto_comprovante_vacina" id="foto_comprovante_vacina" accept="image/png, image/jpg, image/jpeg" required>
                    </label>
                    <hr class="divisao_form_adcionar_vacina">
                    <div class="form_adcionar_vacina_controle_container">
                        <input class="reset_form_adcionar_vacina" type="reset" value="Cancelar">
                        <input class="form_adcionar_vacina_botao_concluido" type="submit" value="Concluído">
                    </div>
                </form>
            </section>
        </section>

        <script src="{% static 'scripts/index.js' %}"></script>
        <script src="{% static 'scripts/ler-input-file.js' %}"></script>
        <script src="{% static 'scripts/aluno/adicionar-vacina.js' %}"></script>
        <script src="{% static 'scripts/aluno/vacinas.js' %}"></script>
    </body>
</html>